   
                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <!-- Formulario -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Añadir enseres</h6>
                        </div>
                        <div class="card-body">
                            
                            <form class="user" action="/enseres/add/" method="POST" enctype="multipart/form-data">
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Nombre</label>
                                    <div class="col-sm-10">
                                        <input id="mueblesNombre" type="text" name="mueblesNombre" class="form-control" placeholder="Nombre"  autofocus>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="mueblesDescripcion" class="col-sm-2 col-form-label">Descripción</label>
                                    <div class="col-sm-10">
                                        <textarea rows="2" name="mueblesDescripcion" class="form-control" placeholder="Descripción"></textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="autor" class="col-sm-2 col-form-label">Autor</label>
                                    <div class="col-sm-10">
                                        <input id="autor" type="text" name="autor" class="form-control" placeholder="autor" >
                                    </div>
                                </div>       
                                <div class="row mb-3">
                                    <label for="unidadesInicio" class="col-sm-2 col-form-label">Unidades inicial</label>
                                    <div class="col-sm-1">
                                        <input id="unidadesInicio" type="number" name="unidadesInicio" class="form-control" placeholder="unidadesInicio" >
                                    </div>
                                </div>     
                                <div class="row mb-3">
                                    <label for="unidadesActuales" class="col-sm-2 col-form-label">Unidades actualidad</label>
                                    <div class="col-sm-1">
                                        <input id="unidadesActuales" type="number" name="unidadesActuales" class="form-control" placeholder="unidadesActuales">
                                    </div>
                                </div>    
                                <div class="row mb-3">
                                    <label for="materiales" class="col-sm-2 col-form-label">materiales</label>
                                    <div class="col-sm-10">
                                        <input id="materiales" type="text" name="materiales" class="form-control" placeholder="materiales" >
                                    </div>
                                </div>                         
                                <div class="row mb-3">
                                    <label for="muebleAdquision" class="col-sm-2 col-form-label">Metodo de adquisición</label>
                                    <div class="col-sm-10">
                                        <input id="muebleAdquision" type="text" name="muebleAdquision" class="form-control" placeholder="Metodo de adquisición">
                                    </div>
                                </div>                         
                                <div class="row mb-3">
                                    <label for="muebleDimensiones" class="col-sm-2 col-form-label">Dimensiones</label>
                                    <div class="col-sm-10">
                                        <input id="muebleDimensiones" type="text" name="muebleDimensiones" class="form-control" placeholder="dimensiones" >
                                    </div>
                                </div>                         

                                <div class="row mb-3">
                                  <label for="inputNumber" class="col-sm-2 col-form-label">Imagen</label>
                                  <div class="col-sm-10">
                                    <input class="form-control" type="file" id="formFile" name="mueblesImagen">
                                  </div>              
                                </div>


                                <div class="card-body">
                                    <button type="submit" class="btn btn-primary rounded-pill">Salvar</button>
                                </div>

                            </form>
                        </div>
                    

                    </div>
                <!-- /.container-fluid -->

                </div>
            <!-- End of Main Content -->
